
.square-client {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  padding: 20px;
  background-color:#444;
  border: 2px solid #ddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-text-client {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: rgb(255, 255, 255);

}

.weight-label-client {
  font-size: 1em;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.button-container-client {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-container-client button {
  flex: 1;
  padding: 8px;
  margin: 0 10px;
  font-size: 0.9em;
  cursor: pointer;
}

.close-button-client {
  background-color: #ff4d4d;
  color: white;
  border: none;
}

.accept-button-client {
  background-color: #4CAF50;
  color: white;
  border: none;
}

.boton-anadir-tarea{
  background-color: #484c52;
  font-size: 20px;
  color:rgb(234, 232, 232);
  border-radius: 8px;
}
.header {
  display: flex;
  justify-content: flex-end;
  background-color: #6a6868;
}

.requirement-name {
  text-align: left;
  padding-left: 20px;
}

.weight {
  align-items: center;
}

.edit-weight {
  background-color: #aaffaa;
  color: black;
  border: none;
  padding: 5px;
  cursor: pointer;
}


.priority-client {
  padding: 13px;
  border-radius: 5px;
  text-align: center;
}

.priority-client-1 {
  background-color: #d1a05f;
}

.priority-client-2 {
  background-color: #c7c7c7;
}

.priority-client3 {
  background-color: #8b8b8b;
}


.square {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  padding: 20px;
  background-color:#444;
  border: 2px solid #ddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-text {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: rgb(255, 255, 255);

}

.weight-label {
  font-size: 1em;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
}


.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-container {
  flex: 1;
  padding: 8px;
  margin: 0 10px;
  font-size: 0.9em;
  cursor: pointer;
}

.close-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
}

.accept-button {
  background-color: #4CAF50;
  color: white;
  border: none;
}