/* Ensure the main container and table are full-width */
.main-container {
  background-color: #282b30; 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh; 
  padding: 0 10px;
  box-sizing: border-box;
  
}

.header {
  display: flex;
  justify-content:space-between;
  background-color: #6a6868;
  padding: 10px;
  width: 100%;
}

.header button, .delete-button, .logout-button {
  padding: 8px 16px;
  font-size: 0.9em;
  margin: 0 4px;

}

.table-container {
  background-color: #282b30; 
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.project-row, .requirement-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 8px;
  box-sizing: border-box;
}

.project-name, .requirement-name {
  flex: 2;
  padding: 0 10px;
}

.weight, .effort, .priority {
  flex: 1;
  text-align: center;
}

/* Cuadro emergente (popup) */
.square-client {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  padding: 20px;
  background-color:#444;
  border: 2px solid #ddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Asegura que el popup esté encima de otros elementos */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-text-client {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: rgb(255, 255, 255);

}

.weight-label-client {
  font-size: 1em;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
}

/* Botones del cuadro emergente */
.button-container-client {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-container-client button {
  flex: 1;
  padding: 8px;
  margin: 0 10px;
  font-size: 0.9em;
  cursor: pointer;
}

.close-button-client {
  background-color: #ff4d4d;
  color: white;
  border: none;
}

.accept-button-client {
  background-color: #4CAF50;
  color: white;
  border: none;
}

.boton-anadir-tarea{
  background-color: #484c52;
  font-size: 20px;
  color:rgb(234, 232, 232);
  border-radius: 8px;
}