body {
  color: white;
}

.fondo-lista-proyecto {
    background-color: #282b30; 
    height: 100vh; 
  }
  
  .contenedor-formulario-central{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .cuadrado-formulario-central{
    background-color: #36393e;
    border: 4px solid #555555;
    border-radius: 10px;
    height: 72%;
    width: 60%;
    flex-direction: column;
  }
  
  .seleccionado {
    background-color: #444;
    color: white; 
  }
  
  .boton-proyecto {
    background-color: #555;
    color: gray;
    cursor: not-allowed;
  }
  
  .boton-proyecto-seleccionado {
    background-color: #444;
    color: white;
    cursor: pointer;
  }

  